<!DOCTYPE html>
<html>
<% include ./parts/header %>

<body>
    <loadingscreen>
        <img src="img/logo.png">
    </loadingscreen>
    <bar></bar>

</body>
<script>
    window.setTimeout(function(){
        window.location.href = "/dj";
    }, 5000);
</script>
</html>